.bgimages{
    
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
    
    
    
}
.bgimagess{
    
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
    
    
    
}